.col{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
/* .row{
    display: grid;
    justify-items: center;
} */
#reader{
    margin-top: 5rem;
}
.alert-already{
    color: rgb(11, 9, 4);
    background-color: rgb(132, 110, 45);
    border-color: rgb(60, 91, 35);
  }